name: Add Check Tag to PR

on:
  pull_request:
    types: [opened]

jobs:
  add-check-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Add "check" tag to new PR
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              labels: ['check']
            });
